<!-- About Section -->
<section class="bg-inverse text-white">
  <div class="container">
    <h2 class="text-center">Tentang <span class="yello">Jasa Pembuatan Website</span></h2>
    <hr class="yello">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-left">
        
        <p>Dengan semakin banyaknya kebutuhan <strong>jasa pembuatan website</strong> di Indonesia, Oka bRionZ ingin membantu untuk mengembangkan bisnis di dunia maya lebih maju menuju ke tahap selanjutnya.</p><br>
        <h3>Oka bRionZ Melayani:</h3><br>
        <h4>Pembuatan Website <span class="yello">Profil Perusahaan</span></h4>
        <p class="lead">Apapun jenis bisnis yang Anda miliki, Oka bRionZ akan menjadikan profil suatu nama menjadi sebuah bentuk visual yang disajikan dalam bentuk halaman website yang profesional.</p><hr class="yello">
        <h4>Pembuatan Website <span class="yello">Toko Online</span></h4>
        <p class="lead">Toko Online atau biasa disebut e-Commerce adalah sarana yang tepat untuk menjual produk secara langsung kepada konsumen. Terlebih lagi, dengan toko online Anda dapat tampil lebih profesional karena tidak bersarang di situs jual beli milik orang lain.</p><hr class="yello">
        <h4>Pembuatan Website <span class="yello">Landing Page</span></h4>
        <p class="lead">Dapatkan lebih banyak profit dengan cara membuat Landing Page untuk bisnis Anda. Ubah brosur Anda menjadi sebuah situs agar menjangkau lebih luas.</p><hr class="yello">
        <h4>Pembuatan <span class="yello">Website Presentasi</span></h4>
        <p class="lead">Presentasikan pendapat Anda dengan menggunakan website agar lebih banyak yang mengerti alur pemikiran Anda secara menyeluruh.</p><hr class="yello">
        <h4>Pembuatan Website <span class="yello">Blog</span></h4>
        <p class="lead">Anda hanya perlu fokus untuk menulis artikel-artikel yang akan dijadikan konten pada blog Anda. Serahkan pembangunan blog Anda kepada ahlinya saja.</p><hr class="yello">
        <h4>Optimasi <span class="yello">Kecepatan Website</span></h4>
        <p class="lead">Kecepatan sebuah website menjadi sangat penting ketika dituntut menjadi keharusan oleh mesin pencari. Dan hebatnya lagi, Anda sedang berada di tempat <a href="https://www.okabrionz.com/">jasa pembuatan website</a> yang tepat.</p>
      
        <div class="text-center">
          <a href="#rates" class="btn btn-lg btn-outline">Biaya</a>
        </div>
      </div>
    </div>
  </div>
</section>