<!-- Rates Section -->
<section>
  <div class="container text-center">
    <h2>Biaya</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-left">
        <ul class="list-group">
          <li class="list-group-item justify-content-between bg-inverse text-white">
            <strong>Layanan</strong>
            <span>Tarif <i class="fa fa-question-circle-o text-info" aria-hidden="true"  data-toggle="tooltip" data-placement="top" title="Biaya layanan."></i></span>
          </li>
          <li class="list-group-item justify-content-between">
            <span><strong>{{layanan1}}</strong></span>
            <span>{{biaya1}}</span>
          </li>
          <li class="list-group-item justify-content-between">
            <span><strong>{{layanan2}}</strong></span>
            <span>{{biaya2}}</span>
          </li>
          <li class="list-group-item justify-content-between">
            <span><strong>{{layanan3}}</strong></span>
            <span>{{biaya3}}</span>
          </li>
          <li class="list-group-item justify-content-between">
            <span><strong>{{layanan4}}</strong></span>
            <a class="btn btn-primary btn-sm" href="/kontak" role="button">{{biaya4}}</a>
          </li>
          <li class="list-group-item justify-content-between">
            <span><strong>{{layanan5}}</strong></span>
            <span>{{biaya5}}</span>
          </li>
          <li class="list-group-item justify-content-between">
            <span><strong>{{layanan6}}</strong></span>
            <span>{{biaya6}}</span>
          </li>
        </ul>
        <div class="text-right">
          
        <small class="badge badge-danger">USD $1=Rp. 13.500,-</small>
        <br><a class="btn btn-primary btn-lg mt-3" href="/order">Pesan Layanan</a>
        </div>
      </div>
    </div>
  </div>
</section>