<!-- Navigation -->
<nav style="box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)" class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bRionZNav" aria-controls="bRionZNav"
    aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
  <div class="container">
    <a class="navbar-brand" href="/">OKA BRIONZ</a>
    <div class="collapse navbar-collapse" id="bRionZNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#klien">Klien</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tentang">Tentang</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#rates">Biaya</a>
        </li>
      </ul>
    </div>
  </div>
</nav>