<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <h2 class="text-center">Portfolio</h2>
            <hr class="star-primary">
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <br>Produsen Spesialis Roti Bakar Bandung, Rachmat.co.id 
                            </div>
                        </div>
                        <img class="img-fluid" src="{{psicon1}}" alt="Jasa Web Development Roti Rachmat">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <br>Jasa Profesional Management Virtual Machine.
                            </div>
                        </div>
                        <img class="img-fluid" src="{{psicon2}}" alt="Virtual Machine Manager">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{psicon3}}" alt="">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link" href="#portfolioModal4" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{psicon4}}" alt="">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link" href="#portfolioModal5" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{psicon5}}" alt="">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link" href="#portfolioModal6" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{psicon6}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <h2>{{ptitle1}}</h2>
                                <hr class="star-primary">
                                <img class="img-fluid img-centered" src="{{pimg1}}" alt="Spesialis Roti Bakar Bandung">
                                <p>{{pdesc1}}</p>
                                <ul class="list-inline item-details">
                                    <li>Client:
                                        <strong><a href="https://www.rachmat.co.id" target="_blank">Roti Rachmat</a>
                                    </strong>
                                    </li>
                                    <li>Date:
                                        <strong>April 2017</strong>
                                    </li>
                                    <li>Service:
                                        <strong><a href="https://www.okabrionz.com/web-development">Web Development</a>, <a href="https://www.okabrionz.com/SEO">SEO</a>, <a href="https://www.okabrionz.com/domains-research">Domain Name Research</a>
                                    </strong>
                                    </li>
                                </ul>
                                <button class="btn btn-success" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <h2>{{ptitle2}}</h2>
                                <hr class="star-primary">
                                <img class="img-fluid img-centered" src="{{pimg2}}" alt="Professional Managed VM Service">
                                <p>{{pdesc2}}</p>
                                <ul class="list-inline item-details">
                                    <li>Client:
                                        <strong><a href="https://www.okabrionz.com">Managed VM</a>
                                    </strong>
                                    </li>
                                    <li>Date:
                                        <strong><a href="https://www.okabrionz.com">Maret 2017</a>
                                    </strong>
                                    </li>
                                    <li>Service:
                                        <strong><a href="https://www.okabrionz.com">Web Development, Sales Page</a>
                                    </strong>
                                    </li>
                                </ul>
                                <button class="btn btn-success" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <h2>{{ptitle3}}</h2>
                                <hr class="star-primary">
                                <img class="img-fluid img-centered" src="{{pimg3}}" alt="">
                                <p>{{pdesc3}}</p>
                                <ul class="list-inline item-details">
                                    <li>Client:
                                        <strong><a href="http://www.androholic.com">Androholic.com</a>
                                    </strong>
                                    </li>
                                    <li>Date:
                                        <strong>Des 2017
                                    </strong>
                                    </li>
                                    <li>Service:
                                        <strong><a href="https://www.okabrionz.com/web-optimization">Web Optimization</a>
                                    </strong>
                                    </li>
                                </ul>
                                <button class="btn btn-success" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <h2>{{ptitle4}}</h2>
                                <hr class="star-primary">
                                <img class="img-fluid img-centered" src="{{pimg4}}" alt="">
                                <p>{{pdesc4}}</p>
                                <ul class="list-inline item-details">
                                    <li>Client:
                                        <strong><a href="https://www.okabrionz.com">Oka bRionZ</a>
                                    </strong>
                                    </li>
                                    <li>Date:
                                        <strong><a href="https://www.okabrionz.com">April 2017</a>
                                    </strong>
                                    </li>
                                    <li>Service:
                                        <strong><a href="https://www.okabrionz.com">Web Development</a>
                                    </strong>
                                    </li>
                                </ul>
                                <button class="btn btn-success" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <h2>{{ptitle5}}</h2>
                                <hr class="star-primary">
                                <img class="img-fluid img-centered" src="{{pimg5}}" alt="">
                                <p>{{pdesc5}}</p>
                                <ul class="list-inline item-details">
                                    <li>Client:
                                        <strong><a href="https://www.okabrionz.com">Oka bRionZ</a>
                                    </strong>
                                    </li>
                                    <li>Date:
                                        <strong><a href="https://www.okabrionz.com">April 2017</a>
                                    </strong>
                                    </li>
                                    <li>Service:
                                        <strong><a href="https://www.okabrionz.com">Web Development</a>
                                    </strong>
                                    </li>
                                </ul>
                                <button class="btn btn-success" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <h2>{{ptitle6}}</h2>
                                <hr class="star-primary">
                                <img class="img-fluid img-centered" src="{{pimg6}}" alt="">
                                <p>{{pdesc6}}</p>
                                <ul class="list-inline item-details">
                                    <li>Client:
                                        <strong><a href="https://www.okabrionz.com">Oka bRionZ</a>
                                    </strong>
                                    </li>
                                    <li>Date:
                                        <strong><a href="https://www.okabrionz.com">April 2017</a>
                                    </strong>
                                    </li>
                                    <li>Service:
                                        <strong><a href="https://www.okabrionz.com">Web Development</a>
                                    </strong>
                                    </li>
                                </ul>
                                <button class="btn btn-success" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
